{{<layout}}
  {{$content}}
  <p class="govuk-body">{{#t}}pages.out-of-scope.intro{{/t}}</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{#t}}pages.out-of-scope.intro-p1{{/t}}</li>
        <li>{{#t}}pages.out-of-scope.intro-p2{{/t}}</li>
        <li>{{#t}}pages.out-of-scope.intro-p3{{/t}}</li>
        <li>{{#t}}pages.out-of-scope.intro-p4{{/t}}</li>
        <li>{{#t}}pages.out-of-scope.intro-p5{{/t}}</li>
        <li>{{#t}}pages.out-of-scope.intro-p6{{/t}}</li>
        <li>{{#t}}pages.out-of-scope.intro-p7{{/t}}</li>
    </ul>
  <p class="govuk-body">{{#t}}pages.out-of-scope.paragraph{{/t}}</p>

  {{/content}}
  {{/layout}}
