{{<partials-page}}
  {{$page-content}}
  <p>{{#t}}pages.test.intro{{/t}}</p>
hi mom1
  <div>
  <p>hi mom</p>
    <ul>
      text inside "ul"
        <li>{{#t}}pages.test.intro-p1{{/t}}</li>
        text between LIs
        <li>{{#t}}pages.test.intro-p2{{/t}}</li>
        <li>{{#t}}pages.test.intro-p3{{/t}}</li>
        <li>{{#t}}pages.test.intro-p4{{/t}}</li>
        <li>{{#t}}pages.test.intro-p5{{/t}}</li>
        <li>{{#t}}pages.test.intro-p6{{/t}}</li>
        <li>{{#t}}pages.test.intro-p7{{/t}}</li>
        <li>{{#markdown}}pages.test.intro-p7{{/markdown}}</li>
    </ul>
    </div>
text after UL
<div>
  <p>{{#t}}pages.test.paragraph{{/t}}</p>
text after paragraph 
</div>
  {{/page-content}}
{{/partials-page}}