{{<partials-page}}
  {{$page-content}}
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      {{#t}}pages.outcome-outside.expected-reply{{/t}}
    </h1>
  </div>
  <p>{{#t}}pages.outcome-outside.explanation{{/t}}</p>

  <h2 class="govuk-heading-m">{{#t}}pages.outcome-outside.heading-1{{/t}}</h2>
  <p>{{#t}}pages.outcome-outside.paragraph-1{{/t}}</p>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">{{#t}}pages.outcome-outside.warning{{/t}}</span>
    {{#t}}pages.outcome-outside.warning-paragraph-1{{/t}}
  </strong>
</div>

  <p>{{#t}}pages.outcome-outside.paragraph-2{{/t}}</p>
  <p>{{#t}}pages.outcome-outside.paragraph-8{{/t}}</p>

  <h2 class="govuk-heading-m">{{#t}}pages.outcome-outside.heading-2{{/t}}</h2>
  <p>{{#t}}pages.outcome-outside.paragraph-4{{/t}}</p>
  <ul>
    <li>{{#t}}pages.outcome-outside.bullet-1{{/t}}</li>
    <li>{{#t}}pages.outcome-outside.bullet-2{{/t}}</li>
    <li>{{#t}}pages.outcome-outside.bullet-3{{/t}}</li>
    <li>{{#t}}pages.outcome-outside.bullet-4{{/t}}</li>
    <li>{{#t}}pages.outcome-outside.bullet-5{{/t}}</li>
  </ul>
  <p>{{#t}}pages.outcome-outside.paragraph-5{{/t}}</p>

  <div class="govuk-inset-text">
    <p>
      {{#t}}pages.outcome-outside.paragraph-7{{/t}}
      <a href="{{#t}}pages.outcome-outside.link{{/t}}" rel="noreferrer noopener" target="_blank">{{#t}}pages.outcome-outside.link-text{{/t}}</a>.
    </p>
  </div>
  {{/page-content}}
{{/partials-page}}
