{{<partials-page}}
  {{$page-content}}
    <div class="govuk-panel govuk-panel--confirmation">
        {{#markdown}}expected-reply-date{{/markdown}}
    </div>
    {{#markdown}}outcome-inside-more-info{{/markdown}}
    {{<partials-outcome-inside-warning-msg}}
      {{$warning-text}}
        {{#markdown}}outcome-inside-warning{{/markdown}}
      {{/warning-text}}
    {{/partials-outcome-inside-warning-msg}}
    {{#markdown}}outcome-inside-what-next{{/markdown}}
    <div class="govuk-inset-text">
      {{#markdown}}inside-feedback-link{{/markdown}}
    </div>
  {{/page-content}}
{{/partials-page}}
