{{<partials-page}}
  {{$page-content}}
    <div class="govuk-panel govuk-panel--confirmation">
        {{#markdown}}received-reply-date{{/markdown}}
    </div>
    {{#markdown}}priority-outcome-outside-more-info{{/markdown}}
    {{<partials-outcome-outside-warning-msg}}
      {{$warning-text}}
        {{#markdown}}outcome-outside-warning{{/markdown}}
      {{/warning-text}}
    {{/partials-outcome-outside-warning-msg}}
    {{#markdown}}priority-outcome-outside-why-longer{{/markdown}}
    <div class="govuk-inset-text">
      {{#markdown}}feedback-link{{/markdown}}
    </div>
  {{/page-content}}
{{/partials-page}}
